@model YAST_CLENAER_WEB.Models.ViewModels.PaginacionViewModel<YAST_CLENAER_WEB.Models.ViewModels.TipoServicioViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Tipos de Servicio</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Crear Nuevo</a>
</p>

<table class="table">
    <thead class="table table-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Items.First().IdTipoServicio)</th>
            <th>@Html.DisplayNameFor(model => model.Items.First().NombreServicio)</th>
            <th>@Html.DisplayNameFor(model => model.Items.First().PrecioBase)</th>
            <th>@Html.DisplayNameFor(model => model.Items.First().Descripcion)</th>
            <th>@Html.DisplayNameFor(model => model.Items.First().FechaCreacion)</th>
            <th>@Html.DisplayNameFor(model => model.Items.First().EstadoServicio)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.IdTipoServicio</td>
                <td>@item.NombreServicio</td>
                <td>@item.PrecioBase</td>
                <td>@item.Descripcion</td>
                <td>@item.FechaCreacion.ToShortDateString()</td>
                <td>@item.EstadoServicio</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.IdTipoServicio" class="btn btn-primary">Detalles</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.TotalPaginas > 1)
{
    <nav>
        <ul class="pagination">
            @for (int i = 1; i <= Model.TotalPaginas; i++)
            {
                <li class="page-item @(i == Model.PaginaActual ? "active" : "")">
                    <a class="page-link" asp-action="Index" asp-route-pagina="@i" asp-route-filtroEstado="@Model.FiltroEstado">@i</a>
                </li>
            }
        </ul>
    </nav>
}
