@model YAST_CLENAER_WEB.Models.ViewModels.EstadoOrdenViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EstadoOrdenViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstadoOrden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEstadoOrden)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreEstado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreEstado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdEstadoOrden" class="btn btn-dark">Editar</a>
    <a asp-action="Index">Back to List</a>
</div>
